html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    visibility: hidden;
}

#birdsWrapper {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
    background: radial-gradient(#4698bf, #023654);
    margin-bottom: 1em;
}

.birds {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

button.btn {
    color: #1a5879;
    border: 3px solid #1a5879;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.5vw;
    font-size: calc(.6em + 0.5vw);
    background: transparent;
}

button.btn:disabled {
    border-color: gray;
    color: gray;
}

button.btn:disabled:hover {
    cursor: not-allowed;
    background: inherit;
    color: gray;
}

button.btn:hover {
    cursor: pointer;
    background: #16618d;
    color: white;
    transition: all 0.3s;
}

button#start {
    border-color: red;
    color: red;
}

button#start:hover {
    background: red;
    color: white;
}

button#start:disabled {
    border-color: gray;
    color: gray;
}

button#start:disabled:hover {
    background: inherit;
}

button#start,
button#stop {
    border-radius: 10px;
    min-width: 6vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

bottom {
    display: flex;
    gap: 10px 20px;
    flex-flow: row wrap;
}

div.author {
    font-size: calc(.6em + 0.5vw);
}

div.author a {
    color: #1a5879;
}

.dropdown option {
    padding: 0.5em;
}

.dropdown option:hover {
    background-color: #ddd;
}

.separator {
    position: absolute;
    bottom: 0;
}

.selectors {
    position: relative;
    display: flex;
    gap: 10px 30px;
    align-content: flex-end
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: calc(.6em + 0.5vw);
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 56px;
}

.show {
    display: block;
}


/* display */

.info p {
    color: white;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 20px;
}

span.data {
    padding: .8vw .3vw .8vw .8vw;
    border: 1px solid;
    border-radius: 3px;
    font-size: calc(.6em + 0.5vw);
}

span.b-data {
    padding: .5vw;
    border: 1px solid white;
    margin-left: 1em;
    background-color: white;
    color: #f44336;
    font-weight: bold;
}